
// Fonts
$fontLato: 'Lato';
$fontRaleway: 'Raleway';

// Colors
$colorTitre: #44444d;
$colorTxt: #5c5d67;
$colorGrey: #9193aa;
$colorBlue: #303cad;
$colorPink: #f70966;

// Wrappers
//$wrapperTaille: 25px;

